<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--documentation kit--><script src="//use.typekit.net/slj1maf.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
  <!--documentation kit | gh-pages-->
  <script src="//use.typekit.net/bxr2hpb.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

  <link rel="stylesheet" href="css/documentation.css">
  <title>Dave Rupert, A Little Bit About Him</title>
</head>
<body>
  <header>
    <h1>Dave Rupert</h1>
  </header>
  <div class="container">
    <section>
      <img src="img/dave.jpeg" alt="Dave Rupert" class="circle"/>
      <h2>A Little Bit About Him</h2>
      <p>I was first exposed to Dave Rupert through his podcast <em>Shoptalk Show</em>. On that show he and Chris Coyier always manage to have knowledgable and entertaining guests on their show. Dave also provides some great sound effects. Most of the time he works with the small, Austin,TX based web development company <a href="http://paravelinc.com">Paravel</a>. Much like Sarah Parmenter he does his fair share of speaking at web related conferences. His personal site can be found at <a href="http://daverupert.com">DaveRupert.com</a></p>
      <blockquote>"He can probably levitate"<br/>-Jeffrey Zeldman</blockquote>
    </section>
    <aside>
      <figure>
        <img src="img/shoptalk.jpg" alt="Shoptalk Show"/>
        <figcaption>Shoptalk Show Podcast</figcaption>
      </figure>
      <figure>
        <img src="img/davatron5000.jpg" alt="Davatron5000"/>
        <figcaption>Sarah Parmenter</figcaption>
      </figure>
    </aside>
  </div>
  <footer>
    <p>&copy; Cory Wilson 2014</p>
  </footer>
</body>
</html>
