<!doctype HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <!--default kit-->
    <script src="//use.typekit.net/rrh2wap.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <!--documentation kit-->
    <script src="//use.typekit.net/slj1maf.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="css/documentation.css">
    <title>Component Library</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h2>Header</h2>
        <header>
          <h1>Component Library + Documentation</h1>
        </header>
        <p class="pn" style="margin-left: 30px;">I like to keep the header simple. No need to overcomplicate this, especially if it is supposed to be versatile enough to work for multiple projects.</p>
      </div>
      <div class="nav">
        <h2>Navigation</h2>
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
        <br/>
        <p class="pn" style="margin-left: 30px;">I like my navigations to cover the entire width of the page. This is veratile enough to be a header by itself or sit underneath the header. I like to keep the color changes of the nav links to be subtle enough for the user to tell when they've hovered over a specific link.</p>
      </div>
      <div class="typography">
        <h2>Typography</h2>
        <div class="default">
          <h3>Default Typefaces Used:</h3>
          <ul>
            <li>Brandon Grotesque</li>
            <li class="rw">Rooney Web</li>
          </ul>
          <p>For my default typefaces I wanted to create a pairing that would work relatively universally. I settled on Brandon Grotesque for Headers, Navigation, and Short Asides. I felt this typeface performed well in each of these scenarios. I chose Rooney Web because it is a serif font has just enough style so that it will work well for body copy.</p>
          <h3>Font Sizing:</h3>
          <h1>Heading 1 &lt;h1&gt;</h1>
          <h2>Heading 2 &lt;h2&gt;</h2>
          <h3>Heading 3 &lt;h3&gt;</h3>
          <h4>Heading 4 &lt;h4&gt;</h4>
          <p>Paragraph &lt;p&gt;</p>
        </div>
        <div class="documentation">
          <h3>Documentation Typefaces Used:</h3>
          <ul>
            <li>Chaparral Pro</li>
            <li>Garamond Pro</li>
          </ul>
          <p>For my documentation typefaces I wanted to create a pairing that would be a little more sterile and provide a clean, manual style feel. I chose Chaparral Pro for headings and Proxima Nova for body copy, because I felt they accomplished this goal.</p>
          <h3>Font Sizing:</h3>
          <h1>Heading 1 &lt;h1&gt;</h1>
          <h2>Heading 2 &lt;h2&gt;</h2>
          <h3>Heading 3 &lt;h3&gt;</h3>
          <h4>Heading 4 &lt;h4&gt;</h4>
          <p>Paragraph &lt;p&gt;</p>
        </div>
      </div>
      <div class="forms">
        <h2>Forms &amp; Inputs</h2>
        <form>
          <br/>
          <h4>Text Input</h4>
          <input type="text" name="form"/>
          <h4>Text Area</h4>
          <textarea rows="4" cols="25"></textarea>
          <br/>
          <p class="pn">I like to keep my input fields clean. With just enough style to set them apart from generic forms. I feel this styling is versatile enough work for most projects.</p>
          <br/>
        </form>
        <h4>Button</h4>
        <button>
          Submit
        </button>
        <br/>
        <p class="pn">I like my buttons to follow a similar style compared to my inputs. The colors from my color scheme remain and help the user understand which state the button is currently in.</p>
      </div>
      <div class="footer">
        <h2>Footer</h2>
        <footer>
          <p>&copy; Cory Wilson 2014</p>
        </footer>
      </div>
    </div><!--end container-->
  </body>
</html>
