<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--default kit-->
  <script src="//use.typekit.net/rrh2wap.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <!--default kit | gh-pages-->
  <script src="//use.typekit.net/dnm5xex.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

  <link rel="stylesheet" src="css/style.css">
  <title>Sarah Parmenter, A Little Bit About Her</title>
</head>
<body>
  <div class="container">
    <section>
      <h1>Sarah Parmenter, A Little Bit About Her</h1>
      <p></p>
      <blockquote></blockquote>
    </section>
  </div>
</body>
</html>
