<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!--default kit-->
    <script src="//use.typekit.net/rrh2wap.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <!--default kit | gh-pages-->
    <script src="//use.typekit.net/dnm5xex.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

    <link rel="stylesheet" href="css/style.css">
    <title>Sarah Parmenter, A Little Bit About Her</title>
  </head>
  <body>
    <header>
      <h1>Sarah Parmenter</h1>
    </header>
    <div class="container">
      <section>
        <img src="img/sp.jpg" alt="Sarah Parmenter" class="circle"/>
        <h2>A Little Bit About Her</h2>
        <p>I was first exposed to Sarah Parmenter through her podcast <em>Happy Monday</em>. On that show she discusses a large array of topics in the Front-End design world. She is mostly known for her work with UI design for mobile and iOS. She's from England and runs the design firm <a href="http://www.youknowwhodesign.com/">You Know Who</a>. In 2011, she won <em>"Designer of the Year"</em> at the .net Magazine Awards. She speaks at many conferences every year including An Event Apart conferences. Her personal website can be found at <a href="http://www.sazzy.co.uk/">Sazzy.co.uk</a>.</p>
        <blockquote>"She can probably levitate"<br/>-Jeffrey Zeldman</blockquote>
      </section>
      <aside>
        <figure>
          <img src="img/happy_monday.jpg" alt="Happy Monday"/>
          <figcaption>Happy Monday Podcast</figcaption>
        </figure>
        <figure>
          <img src="img/sarah.png" alt="More Pics of Sarah Parmenter"/>
          <figcaption>Sarah Parmenter</figcaption>
        </figure>
      </aside>
    </div>
    <footer>
      <p>&copy; Cory Wilson 2014</p>
    </footer>
  </body>
</html>
