
/************************
  Default Color Scheme
  Dark Blue: #2C3E50;
  Red: #E74C3C;
  White: #ECF0F1;
  Light Blue: #3498DB;
  Medium Blue: #2980B9;
************************/

/*****************
  mar & pad reset
*****************/
* {
  margin: 0;
  padding: 0;
}

/*****************
  font
*****************/
body {
  font: 62.5%/1.5 "brandon-grotesque", verdana,sans-serif;
}
p {
  font-family: "rooney-web", georgia, serif;
}
h1, h2, h3, h4 {
  font-weight: bold;
}
h1 {
  font-size: 3.6em;
}
h2 {
  font-size: 3.1em;
}
h3 {
  font-size: 2.6em;
}
h4 {
  font-size: 2.1em;
}
p,li {
  font-size: 1.6em;
}

/*****************
  header
*****************/
.header {
  margin: 30px 70px;
  padding: 30px;
}
.header h2 {
  color: #E74C3C;
  margin: 0 30px;
}
header {
  width: 100%;
  height: 100px;
  background: #2C3E50;
}
header h1 {
  padding: 25px;
  color: #ECF0F1;
  text-align: center;
}

/*****************
  nav
*****************/
.nav {
  margin: 30px 70px;
  padding: 30px;
}
.nav h2 {
  color: #E74C3C;
  margin: 0 30px;
}
nav {
  width: 100%;
  border-bottom: 2px solid #2C3E50;
  background: #2980B9;
  float: left;
}
nav ul {
  float:left;
  list-style: none;
}
nav ul>li {
  display: block;
  height: 100%;
  float: left;
}
nav ul>li>a {
  display: block;
  padding: 15px 30px;
  text-decoration: none;
  color: #ECF0F1;
}
nav ul>li>a:hover {
  color: #2C3E50;
}
/*****************
  .typography
*****************/
.typography {
  padding: 0 30px 30px;
  border-bottom: 2px solid #2C3E50;
  margin: 60px 100px;
  clear: left;
}
.typography h2:first-of-type {
  color: #E74C3C;
}
.typography ul{
  margin-left: 20px;
}
.typography ul li:last-of-type{
  font-family: "rooney-web", georgia, serif;
}

/*****************
  form
*****************/
.forms {
  padding: 0 30px 30px;
  border-bottom: 2px solid #2C3E50;
  margin: 30px 100px;
}
.forms h2 {
  color: #E74C3C;
}

input, textarea {
  width: 50%;
  padding: 5px;
  border: 1px solid #2C3E50;
  box-shadow: 2px 2px 5px #2C3E50;
  margin: 10px 30px 30px 0;
  line-height: 1.25em;
}

/*****************
  button
*****************/
button {
  display: block;
  font-weight: bold;
  width: 100px;
  padding: 10px;
  border: none;
  background: #2980B9;
  border: 1px solid #2C3E50;
  box-shadow: 2px 2px 5px #2C3E50;
}
button:hover {
  background: #2C3E50;
  color: #ECF0F1;
}

/*****************
  footer
*****************/
.footer {
  margin: 30px 70px;
  padding: 30px;
}
.footer h2 {
  color: #E74C3C;
  margin: 0 30px;
}
footer {
  width: 100%;
  background: #2C3E50;
  float: left;
}
footer p {
  text-align: center;
  color: #ECF0F1;
  padding: 50px;
}
